*{
    font-family: 'Roboto', sans-serif;
    background-color: #1d1d1d;
    color: white;
}
.container{
    width: 100%;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
}
.navbar{
    width: 100%;
    display: flex;
    align-self: center;
    align-items: center;
}
.logo{
    width: 75px;
    cursor: pointer;
    margin-top: 32px;
    position: relative;
}
.menu-icon{
    width: 25px;
    cursor: pointer;
    display: none;
}
nav{
    flex: 1;
    text-align: right;
    align-items: center;
    margin-top: -15px;
}
nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 30px;

}
nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}
nav ul li a:hover{
    color: #c619ff;
}
button{
    border-radius: 25px;
    margin-right: 30px;
    padding: 15px 30px;
    background-color: #c619ff;
    color: white;
    border: none;
    font-size: 16px;
}
button a{
    text-decoration: none;
    text-emphasis-style: none;
    background-color: #c619ff;
}
button:hover{
    background-color: white;
    color: #c619ff;
}
.Iniatiatives-btn:hover{
    color:#c619ff;
    background-color: white;
}
.button-learn-more-1 {
    font-size: 14px;
    margin-right: 0px;
}
.row{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 50px 0;
    gap: 75px;
}
.col-1{
    flex-basis: 50%;
    position: relative;
    margin-left: 50px;
    margin-right: 50px;
}
.col-1 h1{
    font-size: 46px;
    font-weight: bold;
}
.col-1 h2{
    font-size: 24px;
    font-weight: 600;
    margin: 20px 0 10px;
}
.col-1 p{
    font-weight: 500;
}
.col-2{
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 50px;
    margin-left: 50px;
    background: center;
}
.col-2 .cam-img-1{
    max-width: 300px;
}
.cam-img-1{
    border-radius: 25px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.footer{
    width: 100%;
    display: flex;
    align-self: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.footer-nav{
    flex: 1;
    text-align: right;
    align-items: center;
}
.footer-nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}
.footer-nav ul li a {
    text-decoration: none;
    font-size: 16px;
}
.footer-nav ul li a:hover{
    color: #c619ff;
}
.footer-logo{
    width: 275px;
    cursor: pointer;
    position: relative;
    margin-top: 0px;
}
.footer-nav > ul:nth-child(1) {
    padding-left: 10px;
   }
.learn-cta-1{
    background: center;
}
.learn-cta-1 button:hover{
    background-color: #1d1d1d;
}
.cam-subtext-1 {
    background: center;
}
.col-1 > h2:nth-child(2) {
    background: center;
}
  .col-1 {
    background: center;
}
.cam-header-1 {
    background: center;
}
.row {
    background-color: #e5d5c3;
    padding: 10px;
    display: flex;
    gap: 25px;
    border-radius: 25px;
    align-items: center;
    justify-content: space-between;
}
  .learn-cta-1 > a:nth-child(1) {
    background: center;
}
.cam-header-1 > em:nth-child(1) > strong:nth-child(1) {
    background: center;
    color: #c619ff;
}
.cam-header-1 > em:nth-child(1) {
    background: center;
    color: black;
}
.cam-header-1 {
    color: black;
}
.col-1 > h2:nth-child(2) {
    color: black;
}
.cam-subtext-1 {
    color: black;
}
.row {
    background-color: white;
}
.proposal-contanier {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
}
.arrow {
    height: 12px;
}
.back-btn > a:nth-child(1) {
    text-decoration: none;
}
.back-btn a:hover{
    color: #c619ff;
}
.back-btn img:hover{
    color: #c619ff;
}
  
@media only screen and (max-width:1025px){
    nav{
        text-align: center;
    }
    nav ul{
        width: 100%;
        background: #1d1d1d;
        filter: drop-shadow(150%);
        position:absolute;
        top: 100px;
        right: 0;
        z-index: 2;
        padding-top: 30px;
        overflow: hidden;
    }
    nav ul li button{
        display: block;
    }
    nav ul li a{
        color: white;
        margin-top: 30px;
        margin-bottom: 20px;
    }
    li a{
        background-color: #1d1d1d;
    }
    button{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    button:hover{
        color:#c619ff;
        background-color: white;
    }
    .menu-icon{
        display: block;
    }
    #menuList{
        overflow: hidden;
        transition:0.5s;
    }
    .row{
        flex-direction:column-reverse ;
        margin: 100px 0;
    }
    .col-2 .cam-img-1{
        max-width: 250px;
    }
    .logo{
        margin-top: 0;
    }
    .cam-header-1 {
        text-align: center;
    }

    .col-1 > h2:nth-child(2) {
        text-align: center;
    }

    .cam-subtext-1 {
        text-align: center;
    }

    .learn-cta-1 {
        text-align: center;
    }
    .footer{
        flex-direction: column-reverse;
        margin-bottom: 50px;
    }
    .proposal-contanier {
        margin-top: 75px;
        margin-left: 25px;
        margin-right: 25px;
    }
}