*{
    font-family: 'Roboto', sans-serif;
    background-color: #1d1d1d;
    color: white;
}
.container{
    width: 100%;
    min-height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
}
.navbar{
    width: 100%;
    display: flex;
    align-self: center;
    align-items: center;
}
.logo{
    width: 75px;
    cursor: pointer;
    margin-top: 32px;
    position: relative;
}
.menu-icon{
    width: 25px;
    cursor: pointer;
    display: none;
}
nav{
    flex: 1;
    text-align: right;
    align-items: center;
}
nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 30px;

}
nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}
nav ul li a:hover{
    color: #c619ff;
}
button{
    border-radius: 25px;
    margin-right: 30px;
    padding: 15px 30px;
    background-color: #c619ff;
    color: white;
    border: none;
    font-size: 16px;
}
button a{
    text-decoration: none;
    text-emphasis-style: none;
    background-color: #c619ff;
}
button:hover{
    background-color: white;
    color: #c619ff;
}
.Iniatiatives-btn:hover{
    color:#c619ff;
    background-color: white;
}
.button-learn-more-1 {
    font-size: 14px;
}
.row{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 50px 0;
    gap: 75px;
}
.col-1{
    flex-basis: 50%;
    position: relative;
    margin-left: 50px;
    margin-right: 50px;
}
.col-1 h1{
    font-size: 46px;
    font-weight: bold;
}
.col-1 h2{
    font-size: 24px;
    font-weight: 600;
    margin: 20px 0 10px;
}
.col-1 p{
font-weight: 500;
}
.col-2{
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 50px;
    margin-left: 50px;
}
.col-2 .cam-img-1{
    max-width: 400px;
}
.cam-img-1{
    border-radius: 25px;

}

@media only screen and (max-width:750px){
    nav{
        text-align: center;
    }
    nav ul{
        width: 100%;
        background: #1d1d1d;
        filter: drop-shadow(150%);
        position:absolute;
        top: 100px;
        right: 0;
        z-index: 2;
        padding-top: 30px;
        overflow: hidden;
    }
    nav ul li button{
        display: block;
    }
    nav ul li a{
        color: white;
        margin-top: 30px;
        margin-bottom: 20px;
    }
    li a{
        background-color: #1d1d1d;
    }
    button{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    button:hover{
        color:#c619ff;
        background-color: white;
    }
    .menu-icon{
        display: block;
    }
    #menuList{
        overflow: hidden;
        transition:0.5s;
    }
    .row{
        flex-direction:column-reverse ;
        margin: 75px 0;
        gap: 25px;
    }
    .col-2 .cam-img-1{
        max-width: 300px;
    }
    .logo{
        margin-top: 0;
    }
}
